/*Цвета проекта
#2196F3; - синий
#212121; - основной цвет текста (черный)
#757575; - второстепенный цвет текста
#ffffff; - белый
#188ce8; - hover главной кнопки
#f5f4fa; - hover второстепенной
*/

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --hover-main-button: #188ce8;
  --hover-secondary-button: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --footer-background-color: #2f303a;
  --border-color: #ececec;
}

body {
  background: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.second-color {
  color: var(--blue-color);
}

/* Header */
.header {
  border: 1px solid var(--border-color);
}

/* Logo */
.header .logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.logo-col {
  color: var(--blue-color);
}

/* Site nav */
.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-color);
}

/* Text */
.portfolio .main-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio .secondary-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contacts .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.dignity .dignity-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.dignity .dignity-description {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .teammate-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Button */
.main-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  height: 50px;
  margin-bottom: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.main-button:hover {
  background-color: var(--hover-main-button);
}

.filter .secondary-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background-color: var(--hover-secondary-button);
  cursor: pointer;
}

.filter .secondary-button:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* Footer */
.footer {
  background-color: var(--footer-background-color);
}
.address-text .address-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contact .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer-logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
